<h1>Create a New Landmark</h1>

<form method="POST" action="/landmarks">
  <label for="landmark_name">Landmark Name:</label>
  <input type="text" name="landmark[name]" id="landmark_name">
  <br></br>

  <label for="landmark_year_completed">Year Landmark Was Completed:</label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <br></br>

  <button type="submit">Create New Landmark</button> 

</form>
